table {
  font-size: 60%;
}



/*****TABLEAUUU****/
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
 margin: 1%;
        background-color: #ddd;
        font-size: 100%;


}

table td, table th, table tr {
    border: 1px solid #ddd;
            text-align: center;


}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #5fa2db;}

table th {

    text-align: left;
    background-color: #369;
    color: white;
}

@media only screen and (max-width: 768px) {

.container table,
.container table tbody,
.container table th,
.container table tr,
.container table td {
  font-size: 7px;
}
@media only screen and (max-width: 460px) {

.container table,
.container table tbody,
.container table th,
.container table tr,
.container table td {
  display: block;
}
